* {
  font-family: "Rubik", sans-serif;
}

.headofhead {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.head {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-youtube {
  color: red;
  font-size: x-large;
}

.headsearch {
  display: inherit;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa-magnifying-glass {
  margin-right: 10px;
}

.headcontain {
  width: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;

  font-weight: bold;
}
.videocontain {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.video video {
  width: 100%;
  height: 300px;
  display: block;
  justify-content: center;
  align-items: center;
}

.maincontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upside {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videodesc {
  width: 100%;
  height: 35%;
  display: inherit;
  flex-direction: inherit;
  justify-content: left;
  align-items: left;
  font-weight: bold;
}

.titlesum {
  color: blue;
  margin: 10px 5px;
}

.title {
  color: black;
  margin: 10px 5px;
}

.btns {
  width: 100%;
  height: 40%;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.btn i {
  font-size: xx-large;
}

.usercontain {
  background-color: beige;
  width: 100%;
  height: 25%;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.user {
  display: inherit;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.pic {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.username {
  display: inherit;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-left: 10px;
}

.sub {
  margin-right: 20px;
}

.downside {
  background-color: blanchedalmond;
  width: 100%;
  height: 100%;
}

.otherscontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 50px;
}

.more {
  width: 100%;
  display: inherit;
  justify-content: left;
  align-items: center;
  margin: 30px 40px;
  font-weight: bold;
}

.otherall {
  display: inherit;
  flex-direction: row;
}

.others {
  width: 300px;
  height: 200px;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otherdesc {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
}

.otherhead {
  margin-bottom: 20px;
}
